//colors
$primary-color: #2231AA;
$primary-color2: #5360CD;
$secondary-color-black: #313037;
$bg-color-grey: #8D8E97;
$bg-color-medium: #DADADA;
$bg-color-extra-light: #F3F3F3;
$error-color: #FD3419;
$context-color-light: #E8E8E8;
$context-color-white: #FFF;
$font-color: #323537;

//typography 
$h1-fz-desktop-tablet: 56px;
$h1-fz-mobile: 32px;
$h2-fz-desktop-tablet: 32px;
$h2-fz-mobile: 24px;
$h3-fz-all-devices: 18px;

//margins
$lvl-1-margin: 72px;
$lvl-1-margin-mobile: 56px;
$lvl-2-margin: 64px;
$lvl-2-margin-tablet: 56px;
$lvl-2-margin-mobile: 48px;
$lvl-3-margin: 48px;
$lvl-3-margin-mobile: 36px;
$lvl-4-margin: 40px;
$lvl-4-margin-mobile: 32px;
$lvl-5-margin: 32px;
$lvl-5-margin-mobile: 28px;
$lvl-6-margin-all: 24px;
$lvl-7-margin-all: 16px;
$lvl-8-margin-all: 8px;


